<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<base  href="__ROOT__/Public/static/" />


</head>

<body>

	<!--所有页面的头部-->
	<div class="header">
		<div class="headbox">
			<div class="logo">
				<a href="index.html"><img src="images/ducvy_logo.jpg" /></a>
			</div>
			<div class="headbox_right">
				<div class="headbox_right_link">
					<p class="link_left">
						欢迎来到本网站&nbsp;&nbsp;&nbsp;
                        <if condition = "$Think.session.user_home eq ''"> 
                        <a href="__APP__/Login/login"> 请登录</a> 
                        <a href="__APP__/Login/zhuce">免费注册</a>
                        <else />
                        <span><strong>Welcome</strong></span>&nbsp;&nbsp;&nbsp;<span style="color:red; font-weight:600px;">{$Think.session.user_home}</span>
                        <a href="__APP__/Login/logout">注销登录</a></if>
					</p>
					<p class="link_right">
						<a href="__APP__/User/index" class="personcenter"> 个人中心</a> 
                        <a href="__APP__/User/buybus" class="mycookies"> 我的购物车（<span >{$cart_arr.num}</span>）</a> 
                      
					</p>
					<p class="clear_float"></p>
				</div>
				<div class="headbox_right_form">
               
                
					<form method="post" action="__APP__/Index/search">
						<input type="text" id="keyword" name="keyword" class="text"  maxlength="15" required="required" placeholder="请输入关键字" onclick="this.value=&quot;&quot" /> 
                        <input type="submit" class="submit" name="Submit1" value="搜索" /> 
                        <span class="clear_float"></span>
					</form>
				</div>
				<div class="clear_float"></div>
			</div>
			<div class="clear_float"></div>

		</div>
	</div>



	<!--所有的顶导航  main_nav-->
	<div class="main_nav">
        <ul><volist name="list" id="vo">
            <if condition="$vo.rideo eq 1"><a href="__APP__/{$vo.url}/index"<if condition="($vo.url eq $cat) OR ($vo.url eq center) "> class="inthis"
    
</if>
 ><li style="width:140px;" <if condition="($vo.url eq $cat) OR ($vo.url eq center)">class="main_nav_inthis"
    
</if>>{$vo.name}
    
</li></a></if></volist>
			<!--<a href="__APP__/Index/index" class="inthis"><li class="main_nav_inthis">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</li></a>
			<a href="__APP__/Company/index"><li>品牌介绍</li></a>
			<a href="__APP__/News/index"><li>新闻中心</li></a>
			<em></em><a href="__APP__/Product/index"><li><em>产品中心</em></li>
			</a>
			<a href="__APP__/Contact/index"><li>联系我们</li></a>
			<a href="__APP__/User/index"><li class="lastchild">会员中心</li></-->
			
		</ul>
	</div>
