
<link rel="stylesheet" type="text/css" href="css/base_ducvy.css" />
<script type="text/javascript" src="js/jQuery.1.8.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<title>购买车</title>

		<!--页面内容-->
	<div class="content">
		<!--内容背景为第二种的时候 -->
		<div class="content_type_two">

			<!--为内容里面的内容-->
			<div class="content_body">
				<div class="background_orange"></div>
				<div class="background_coffee "></div>
				<div class="kongzhi">
					<!--侧导航-->
					<div class="sidebar">
						<div class="sidebar_top">


							<div class="sidebar_title">
								<p class="chinese">会员中心</p>
								<p class="english">Brand introduction</p>
							</div>


							<div class="sidebar_list ">

								<ul>
									<!--<a href="__APP__/User/index" class="list_a_inthis"><li class="list_inthis">个人信息</li></a>
									<a href="__APP__/User/update"><li>个人资料修改/查看</li></a>
									<a href="__APP__/User/updatemima"><li>修改密码</li></a>
									<a href="__APP__/User/buy"><li>购买记录</li></a>-->
									<a href="__APP__/User/buybus"><li>购物车</li></a>
									<a href="__APP__/User/dindan">
										<li>确认订单</li>
									</a>
									<a href="__APP__/User/address">
										<li>收货地址</li>
									</a>
									<span class="clear_float"></span>
								</ul>

							</div>





						</div>





					</div>

					<!--内容的右侧-->
					<div class="content_body_right">
						<div class="right_title">
							<span class="titlename">购买记录</span> <span
								class="current_location">当前位置 >会员中心</span> <span
								class="clear_float"></span>
						</div>

						<div class="purchase_records">
							<p class="guide">
								<a class="inthis">查看购物车</a><a>填写和确认地址订单</a><a>提交订单成功</a>
							</p>


							<!--定单列表详情-->
							<div class="order_list">
								<p class="title">
									<span class="pro_show">宝贝</span><span class="price">单价（元）</span><span
										class="number">数量</span><span class="operation">商品操作</span><span
										class="trading_status">交易状态</span>
								</p>

								<form method="post" action="__APP__/Order/add">

									<!--一个购物记录的模型-->


									<div class="list_show" id="list_show_content">
										


<volist name="sess" id="vo">
										<!--一个订单-->
										<div class="list_info">
											<p class="list_info_title">
												<input type="checkbox" /><span class="date">{$vo.time}</span><span
													class="order_number"></span><a href="javascript:"></a>
											</p>
											<div class="list_info_content">
												<div class="content_left">
													<div class="img">
														<img src="__ROOT__{$vo.thumb_path}" width="80" height="80" />
													</div>
													<div class="info_text">
														<a href="">{$vo.name} </a></div>
													<span class="price">{$vo.price}</span> <span
														class="numbers_override"><span class="reduce">-</span><input id="num_{$vo.id}"
														value="{$vo.num}" min="1" type="text" class="num" /><span class="add" id="add{&vo.id}">+</span></span>
														<input type="hidden" id="price_{$vo.id}" value="{$vo.price}" />
														<input type="hidden" id="pricec_{$vo.id}" value="{$vo.price_c}" />
												</div>

												<div class="content_mid">
													<a class="ori_price" id="subtotal_{$vo.id}">{$vo.yi}</a> <a class="curr_price" id="subtotals_{$vo.id}">{$vo.er}</a>
													<a class="promotion" >卖家促销</a>
												</div>
												<div class="content_right">
													<a class="add_favorite" href=""></a> <a class="delete" href="__APP__/User/delete/id/{$vo.id}">删除</a>

												</div>
												<div class="clear_float"></div>
											</div>
										</div>
         </volist>



									


									</div>

									<!--底部分页-->
									<div class="paging">

										<a href="" class="up_down_page"></a> <a href="" 	class="up_down_page">  </a>

									</div>

									<div class="accounts_box">
										<input type="checkbox" id="all" /> <span>全选</span> <span>删除</span>
										<span>移入收藏夹</span> <span>分享</span> <span>已选商品<a id="tot_num">{$cart_arr.num}</a>件
										</span> <span class="count">合计（不含运费）<a id="count">￥{$cart_arr.er}</a></span> <input	value="结算" type="submit" />
									</div>



								</form>



							</div>







						</div>




					</div>

					<div class="clear_float"></div>



				</div>
			</div>


		</div>


	</div>
	
	<script>
	
	$('.num').change(function(){
	var num=$(this).attr('value');
	var id =$(this).attr('id').substr(4);
	var price = $('#price_'+id).val();
	var pricec = $('#pricec_'+id).val();
	var subtotal= Number(num)*Number(price);
	var subtotals= Number(num)*Number(pricec);
	$('#subtotal_'+id).html(subtotal);
	$('#subtotals_'+id).html(subtotals);
	var totnum=0;
	var total=0;
	var subtotal_cart= $('.curr_price');
	for(var i= 0; i<subtotal_cart.length;i++){
	total+= Number(subtotal_cart.eq(i).html());
	}
	
	var num_cart = $('.num');
	for (var i=0; i<num_cart.length;i++){
	totnum +=Number(num_cart.eq(i).val());
	
	}
	$('#tot_num').html(totnum);
	$('#count').html(total);
	$.ajax({
	type: "post",
	url: "__APP__/User/edit",
	data:{
	'id':id,
	'num':num,
	
	},
	
	success:function(msg){}
	});
	
	
	
	
	
	
	})
	
	
	</script>





	