
<link rel="stylesheet" type="text/css" href="css/base_ducvy.css" />
<script type="text/javascript" src="js/jQuery.1.8.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<title>订单提交成功</title>

		<!--页面内容-->
	<div class="content">
		<!--内容背景为第二种的时候 -->
		<div class="content_type_two">

			<!--为内容里面的内容-->
			<div class="content_body">
				<div class="background_orange"></div>
				<div class="background_coffee "></div>
				<div class="kongzhi">
					<!--侧导航-->
					<div class="sidebar">
						<div class="sidebar_top">


							<div class="sidebar_title">
								<p class="chinese">会员中心</p>
								<p class="english">Brand introduction</p>
							</div>


							<div class="sidebar_list ">

								<ul>
									<!--<a href="__APP__/User/index" class="list_a_inthis"><li class="list_inthis">个人信息</li></a>
									<a href="__APP__/User/update"><li>个人资料修改/查看</li></a>
									<a href="__APP__/User/updatemima"><li>修改密码</li></a>
									<a href="__APP__/User/buy"><li>购买记录</li></a>-->
									<a href="__APP__/User/buybus"><li>购物车</li></a>
									<a href="__APP__/User/dindan">
										<li>确认订单</li>
									</a>
									<a href="__APP__/User/address">
										<li>收货地址</li>
									</a>
									<span class="clear_float"></span>
								</ul>

							</div>





						</div>





					</div>
					<!--内容的右侧-->
					<div class="content_body_right">
						<div class="right_title">
							<span class="titlename">订单提交成功</span> <span	class="current_location">当前位置 >会员中心</span> 
                            <span class="clear_float"></span>
						</div>

						<div class="order_submit_success">
							<p class="guide">
								<a>查看购物车</a><a>填写和确认地址订单</a><a class="inthis">提交订单成功</a>
							</p>
							<p class="hint">
								<span class="hint_img"></span><span class="success">订单提交成功</span>
                                <span class="pay">请尽快完成支付</span><span class="clear_float"></span>
							</p>
							<p class="price">
								<span>应付金额：</span><a>￥270</a>
							</p>
							<p class="address">
								收货信息： <span>广西省 南宁市 清秀区 民族大道泰安大厦金座38-1</span>
							</p>
							<p class="linkman">
								（<span>李女士</span> 收） <span>23545646435</span>
							</p>
							<p class="pay_way">
								<span>支付方式：</span> <a href=""></a><span class="clear_float"></span>
							</p>
							<p class="right_now_pay">
								<a href="">立即支付</a>
							</p>
						</div>




					</div>

					<div class="clear_float"></div>




				</div>
			</div>


		</div>


	</div>





	