
<link rel="stylesheet" type="text/css" href="css/base_ducvy.css" />
<script type="text/javascript" src="js/jQuery.1.8.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<title>个人资料修改与查看</title>


		<!--页面内容-->
	<div class="content">
		<!--内容背景为第二种的时候 -->
		<div class="content_type_two">

			<!--为内容里面的内容-->
			<div class="content_body">
				<div class="background_orange"></div>
				<div class="background_coffee "></div>
				<div class="kongzhi">
					<!--侧导航-->
					<div class="sidebar">
						<div class="sidebar_top">


							<div class="sidebar_title">
								<p class="chinese">会员中心</p>
								<p class="english">Brand introduction</p>
							</div>


							<div class="sidebar_list ">

								<ul>
									<!--<a href="__APP__/User/index" class="list_a_inthis"><li class="list_inthis">个人信息</li></a>
									<a href="__APP__/User/update"><li>个人资料修改/查看</li></a>
									<a href="__APP__/User/updatemima"><li>修改密码</li></a>
									<a href="__APP__/User/buy"><li>购买记录</li></a>-->
									<a href="__APP__/User/buybus"><li>购物车</li></a>
									<a href="__APP__/User/dindan">
										<li>确认订单</li>
									</a>
									<a href="__APP__/User/address">
										<li>收货地址</li>
									</a>
									<span class="clear_float"></span>
								</ul>

							</div>





						</div>





					</div>
					<!--内容的右侧-->
					<div class="content_body_right">
						<div class="right_title">
							<span class="titlename">个人资料修改/查看</span> <span
								class="current_location">当前位置 >会员中心</span> <span
								class="clear_float"></span>
						</div>

						<div class="personal_date_modify_view">
							<form action="" method="">
								<p class="head_pic">
									<span>头 像：</span><img src="images/pre_info_img.jpg" />
								</p>
								<p class="change_head_pic">
									<a href="">选择头像</a><a href="">上传头像</a>
								</p>
								<p>
									<span>昵 称：</span><input name="nickname" />
								</p>
								<p>
									<span>邮 箱：</span><input name="emial" />
								</p>
								<p>
									<span>Q Q：</span><input name="qqnumber" />
								</p>
								<p class="sex">
									<span>性 别：</span><input name="sex" value="man" type="radio" /><a>男</a><input
										name="sex" value="woman" type="radio" /><a>女</a>
								</p>
								<div class="address_choise">
									<p>
										<select>
											<option value="volvo">广西省</option>
											<option value="saab">Saab</option>
											<option value="opel">Opel</option>
											<option value="audi">Audi</option>
										</select> <select>
											<option value="volvo">南宁市</option>
											<option value="saab">Saab</option>
											<option value="opel">Opel</option>
											<option value="audi">Audi</option>
										</select> <select>
											<option value="volvo">民族大道</option>
											<option value="saab">Saab</option>
											<option value="opel">Opel</option>
											<option value="audi">Audi</option>
										</select> <select>
											<option value="volvo">泰安大厦</option>
											<option value="saab">Saab</option>
											<option value="opel">Opel</option>
											<option value="audi">Audi</option>
										</select>
									</p>
									<p class="consignee">
										<span>收货人：</span><a>静安寺静安 </a><span> 手机号：</span>
                                        <a>6546869669</a><a	class="clear_float"></a>
									</p>
									<p class="changes">
										<a>送货地址添加/修改</a>
									</p>
								</div>
								<p class="submit">
									<input type="submit" value="修改" />
								</p>
							</form>
						</div>




					</div>

					<div class="clear_float"></div>

				</div>
			</div>


		</div>


	</div>





	