<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<base  href="__ROOT__/home/Common/" />

<script type="text/javascript" src="js/jQuery.1.8.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<link rel="stylesheet" type="text/css" href="css/base_ducvy.css">
	<title>用户注册</title>
</head>

<body>
	<div class="content">
		<div class="login_content">
			<div class="login_regist_background">
				<div class="regist_background"></div>
				<div class="form_regist">
					<div class="regist">
						<span class="newregist">新用户注册</span><span class="isvip">已经是会员？直接<a href="__APP__/Login/login" class="login">登录</a></span><span class="clear_float"></span>
					</div>
					<form method="post" action="">
						<p class="formdata" style="margin-top:20px;">
							<span>账号：</span><input class="uname" id="gg" type="text"  name="username" required="required" placeholder="用户名" onclick="this.value=&quot;&quot"/>
						</p><span id="info1" style=" float:left; display:block; padding-top:5px; height:10px; line-height:10px; margin-left:150px;"></span>
                        
                        
						<p class="formdata" style="margin-top:20px;">
							<span>密码：</span><input id="tt" type="password" class="upassword"   name="password" required="required" placeholder="密码" />
						</p>            <span id="info2" style=" float:left; display:block; padding-top:5px; height:10px; line-height:10px; margin-left:150px;" ></span>

						<p class="formdata" style="margin-top:20px;">
							<span>确认密码：</span><input id="ttt"  class="upasswordagain" type="password"  name="password" required="required" placeholder="确认密码" />
						</p>            <span id="info4" style=" float:left; display:block; padding-top:5px; height:10px; line-height:10px; margin-left:150px;" ></span>
						<p class="formdata" style="margin-left:-69px;margin-top:20px;"> <span >验证码：</span><input class="form-control" style="width:100px; line-height:30px; height:30px;" type="code" name="code" required id="code" /> &nbsp;&nbsp;<img src="__APP__/Login/verify/" id="code"  style=" height:30px; padding-top:5px;float:right" onClick="this.src='__APP__/Login/verify/'+Math.random(0,1)" /></p><span id="info5"  style=" float:left; display:block; padding-top:5px; height:10px; line-height:10px; margin-left:150px;"></span>

                        
						<p>
							<input type="submit" class="submit" id="submit" value="注册" />
						</p>
						<p class="otherwaylogin">
							<span>其他登录方式：</span><a href="" class="weixin">微信登录</a><a href=""
								class="QQ">腾讯登录</a><span class="clear_float"></span>
						</p>
						<p class="clear_float"></p>
					</form>
				</div>

				<span class="copyright">Copyright 2008-2015 vip.com，All	Rights Reserved ICP证：粤 B2-20080329</span>
			</div>
		</div>
	</div>

</body>
<script>


$(function(){
	var u=0;
	var b=0;
	var c=0;
	var d=0;
	var e=0;


$('#gg').blur(function(){
   var account=$('#gg').val();

if(account==''){

 $('#info1').html("<font color='red' >&nbsp;用户名长度必须在5-16位之间 </font>");

 return false;

}

if(account.length<5 ||account.length>=16){

$('#info1').html("<font color='red' >&nbsp;用户名长度必须在5-16位之间 </font>");
   u=0;
 return flase;

}

$.post('__APP__/Login/checkAccount',{'account':account},function(data){

                 if(data==1){

   $('#info1').html("<font color='red'>&nbsp;该用户名已注册！ </font>");   u=0;
}else{


$('#info1').html("<font color='green'>&nbsp;ok </font>");   u=1;
}

 })})


				
	function ttt(){
		var hz=/^\w{8,16}$/;
			if(!hz.test($('#tt').val())){
			$('#info2').html("<font color='red'>&nbsp;密码为除汉字外的8-16个字节！ </font>");
   	              c=0;

			}else{
								$('#info2').html("<font color='green'>&nbsp;ok</font>");
   	              c=1;

				}
	                                }
									function tttt(){
                if ($('#ttt').val()!=$('#tt').val()) {
                 $('#info4').html("<font color='red'>&nbsp;与输入密码不符！ </font>");   
   	              d=0;
                                       }
				 else{
								$('#info4').html("<font color='green'>&nbsp;ok</font>");
   	              d=1;

}
									}
									function code(){
												var hz=/^\w{4,4}$/;
			if(!hz.test($('#code').val())){
			$('#info5').html("<font color='red'>&nbsp;验证码必须为四位！ </font>");
   	              e=0;

			}else{
								$('#info5').html("<font color='green'></font>");
   	              e=1;

	
				}
	
	}
									
									function check(){
										if(u==1&&c==1&&d==1&&e==1){
										$('#submit').attr('disabled',false);
										}else{

										$('#submit').attr('disabled',true);
											}}
									    
										
										$('#gg').keyup(function(){
											us();
											check();
											})
										$('#ggg').keyup(function(){
											tt();
											check();})
			                            $('#tt').keyup(function(){	
										    ttt();
											check();})	
		                             	$('#ttt').keyup(function(){
											tttt();
											check();})
										$('#code').keyup(function(){
											code();
											check();})
															

										
										
									
			
                                     })</script>


</html>
