 <div class="templatemo-content-container"><h3><a href="__APP__/Admin/add">管理员添加</a></h3>
          <div class="templatemo-content-widget no-padding">
            <div class="panel panel-default table-responsive">
              <table class="table table-striped table-bordered templatemo-user-table">
                <thead>
                  <tr>
                    <td><a  class="white-text templatemo-sort-by">管理员ID <span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">管理员账号 <span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">权限等级 <span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">发布时间  <span class="caret"></span></a></td>
                    
                    <td>Edit</td>
					<td>Delete</td>
                  </tr>
                </thead>
                <tbody><foreach name="data" item="v">
                  <tr>
                    <td>{$v.id}</td>
                    <td>{$v.username}</td>
                    <td>{$v.level_name}</td>              
				
                    <td>{:date('Y-m-d',$v['time'])}</td>
                   
                    <td><a href="__APP__/Admin/update/id/{$v.id}" class="templatemo-edit-btn">Edit</a></td>
					 <td><a href="__APP__/Admin/delete/id/{$v.id}" class="templatemo-edit-btn">Delete</a></td>
                  </tr></foreach>
                 
                </tbody>
              </table>    
            </div>                          
          </div>  
          <div class="pagination-wrap">
            <ul class="pagination">
              {$page}
              
            </ul>
          </div>                  