	<!--首页面-->
    <link rel="stylesheet" type="text/css" href="css/base_ducvy.css" />
<script type="text/javascript" src="js/jQuery.1.8.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<title>首页</title>
	<div class="indexcontent">
		
			<div class="link_cloth"><foreach name="data" item="v">
            	<div class="link_one link_one_margin">
                	<p></p>
                    <div class="link">
                    	<a  href="__APP__/Product/center/id/{$v.id}/cate/{$cate_id}">
                            <div><img src="__ROOT__/{$v.image_path}" width="112" height="146" /></div>
                            <div class="text">
                                <span>{$v.name}</span>
                                <span>品牌：{$v.pp}</span>
                                <span>风格：{$v.fg}</span>
                                <span>版型：{$v.bx}</span>
                            </div>
                         </a> 
                    </div>
                </div></foreach>
                
               
                
                <div class="clear_float"></div>
            
            </div>


	</div>


	