 <div class="templatemo-content-container">
          <div class="templatemo-content-widget no-padding">
            <div class="panel panel-default table-responsive">
              <table class="table table-striped table-bordered templatemo-user-table">
                <thead>
                  <tr>
                    <td><a  class="white-text templatemo-sort-by">联系ID <span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">联系Q1 <span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">联系Q2 <span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">联系电话 <span class="caret"></span></a></td>
                    <td><a  class="white-text templatemo-sort-by">联系邮箱  <span class="caret"></span></a></td>
                    
                    <td>Edit</td>
                  </tr>
                </thead>
                <tbody><foreach name="data" item="v">
                  <tr>
                    <td>{$v.id}</td>
                    <td>{$v.q}</td>
                    <td>{$v.qq}</td>              
				
                    <td>{$v.tel}</td>
                    <td>{$v.email}</td>
                    <td><a href="__APP__/About/update/id/{$v.id}" class="templatemo-edit-btn">Edit</a></td>
                  </tr></foreach>
                 
                </tbody>
              </table>    
            </div>                          
          </div>  
          <div class="pagination-wrap">
            <ul class="pagination">
              {$page}
              
            </ul>
          </div>                  