 <div class="templatemo-content-container">
          <div class="templatemo-content-widget no-padding">
            <div class="panel panel-default table-responsive">
              <table class="table table-striped table-bordered templatemo-user-table">
                <thead>
                  <tr>
                    <td><a href="" class="white-text templatemo-sort-by">留言ID <span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">留言标题 <span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">留言内容 <span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">客户名称 <span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">客户手机号  <span class="caret"></span></a></td>
                                        <td><a href="" class="white-text templatemo-sort-by">客户QQ  <span class="caret"></span></a></td>

                    <td><a href="" class="white-text templatemo-sort-by">留言时间 <span class="caret"></span></a></td>
                    <td>Delete</td>
                  </tr>
                </thead>
                <tbody><foreach name="data" item="v">
                  <tr>
                    <td>{$v.id}</td>
                    <td>{$v.title}</td>
                    <td>{$v.content}</td>              
					<td>{$v.name}</td> <td>{$v.tel}</td>
                     <td>{$v.qq}</td>
                    <td>{:date('Y-m-d',$v['time'])}</td>
                   
                    <td><a href="__APP__/Message/delete/id/{$v.id}" class="templatemo-edit-btn">Delete</a></td>
                  </tr></foreach>
                 
                </tbody>
              </table>    
            </div>                          
          </div>  
          <div class="pagination-wrap">
            <ul class="pagination">
              {$page}
              
            </ul>
          </div>                  